<%= simple_form_for @service_payment, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :payment_id %>
  <%= f.input :state %>
  <%= f.input :amount %>
  <%= f.input :description %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                service_payments_path, :class => 'btn' %>
  </div>
<% end %>
